<h2>Make a New Donut!!</h2>

<form action="/donuts" method="post">
  <label>Flavor: </label><input type="text" name="flavor">
  <label>Price: </label><input type="number" name="price">
  <input type="submit">
</form>